* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-height: 960px;
    margin: 100%;
    margin: 0 auto;
}

:root {
    --corPrincipal: #f9ca24;
    --corSecundaria: #111;
}